# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# macOS
.DS_Store

# 编译产物
obsidian-plugin/main.js
auto-imports.d.ts
components.d.ts
local.store
config.ini
data.json
*.dylib
*.map
*.exe
*.exe~
*.dll
*.so
cache/
dist/
out/
vault/